*.pdf
*.xlsx
*.h5
*.mp4
*.png
Original-Program-DO-NOT-TOUCH/
*Identifier
*.o
*.so
*.dylib
*.yml
*.txt
*.pyc
*,txt
*.dylib
*.so
*.o
.venv/
.vscode/
plotting-beams.py
spinner_separation.py
visualise-particle.py
*.tar
torques/
standards/
JanusParticles/
*.sh
DM2025E-Optic-Spin.py
flywheel-optics
job_maker.py
arb-inds/
Optical-Force-Torque-Figs/
csp-sep_old_nonbonded/
spinner_separation
yml-n-data/
wheeltestDipolesMulti2025Eigen.py